body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}
h1{
    font-size: 2em;
    color: darkgreen;
}
h2{
    color: green;
}
#titulo-principal{
    background-color: darkgreen;color: white;text-align: center;
}
.topico{
    text-align: center;
}
.tupico{
    text-align: right;
}
.vermelho{
    color: red;
}
.justificado{
    text-align: justify;
}