
body{
    color: rgb(19, 59, 59); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;background-color: rgb(197, 197, 197);
}

h1{
    color: green; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; background-color: rgb(255, 94, 0);
}
p{color: blueviolet;background-color: brown;}
h2{
    color: yellow;background-color: rgb(43, 226, 73);
}
